.controls {
    position: fixed;
    bottom: 0%;
    width: 100%;
}

.controls-left {
    display: flex;
    align-items: center;
}

.controls-right button {
    color: gray;
}

.controls-right button:hover {
    color: white;
}

.time {
    font-size: smaller;
    color: gray;
}

.metadata {
    display: flex;
    align-items: center;
}

.metadata-text {
    display: flex;
    flex-direction: column;
    margin-block: 16px;
}

.sub-title {
    color: gray;
}

.sub-title:hover {
    cursor: pointer;
    text-decoration: underline;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #121212;
    padding: 12px;
}

footer button {
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
}

footer button:active {
    transform: scale(0.95);
}