.artwork {
    flex: 2;
    display: flex;
    background-color: #121212;
    flex-direction: column;
    align-items: center;
}

.artwork img {
    width: 60%;
    border-radius: 10px;
}

.artwork .no-image {
    aspect-ratio: 1;
    width: 480px;
    background-color: black;
    font-size: 20px;
    display: grid;
    justify-content: center;
    border-radius: 10px;
    align-items: center;
}