.artwork {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #121212;
    height: calc(100vh - 160px);
    margin-top: 60px;
}

.artwork img {
    width: 80%;
    max-width: 600px;
    border-radius: 10px;
}

.artwork .no-image {
    aspect-ratio: 1;
    width: 80%;
    max-width: 600px;
    background-color: black;
    color: white;
    display: grid;
    place-items: center;
    font-size: 24px;
    border-radius: 10px;
}