footer {
    position: fixed;
    bottom: 0%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #121212;
    border-top: 1px solid #333;
}

.controls-left {
    display: flex;
    align-items: center;
}

.time {
    font-size: smaller;
    color: gray;
}

footer button {
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.metadata {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.metadata-text {
    display: flex;
    flex-direction: column;
    margin-block: 16px;
}

.sub-title {
    color: gray;
}

.sub-title:hover {
    cursor: pointer;
    text-decoration: underline;
}

.controls-right {
    color: gray;
}

footer button:active {
    transform: scale(0.95);
}