.playlist {
    flex: 1;
    background-color: #181818;
}

.playlist-header {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    border-bottom: 1px solid #333;
}

.playlist-header button {
    background: none;
    border: none;
    color: #b3b3b3;
    cursor: pointer;
}

.playlist-header button:hover {
    color: white;
}