.playlist {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #181818;
}

.playlist-header {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    border-bottom: 1px solid #333;
}

.playlist-header button {
    background: none;
    border: none;
    color: #b3b3b3;
    cursor: pointer;
}

.playlist-header button:hover {
    color: white;
}

/* Agrega esta clase para que FileList ocupe el resto del espacio y permita scroll solo en el contenido de la lista */
.scrollable-content {
    flex: 1;
    overflow-y: auto;
}
