@import "tailwindcss";

@theme {
  --color-primary: #FF0033;
  --color-secondary: #181818;
  --color-accent: #535353;

  --font-sans: ui-sans-serif, system-ui;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: #444;
}
